
.main-nav{
    display: flex;
    align-items: center;
}
.orive img{
    height: 44px;
    cursor: pointer;
    margin-left: 50px;
}
.rgr-logo img{
    width: 150px;
    cursor: pointer;
    margin-left: 10rem;
}

.input-div input{
    width: 40rem;
    height: 44px;
    font-size: 30px;
    color: orangered;
   border: 1px solid orangered;
    border-radius: 20px;
    margin-left: 3rem;
}
.input-div input::placeholder{
    color: orangered;
}

.lukasnomeri{
    color: orangered;
    font-size: 40px;
    margin-left: 15px;
    cursor: pointer;
}



/* sectionnnn */
.gverd{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.son-section {
  display: flex;
  justify-content: center;
}
.thumbparent{
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}
 .thumbparent{
  border: 1px solid orangered;
  width: 300px;
  max-width: max-content;
  cursor: pointer;
  margin: 10px;
  
}

.thumbparent img{
 width: 100%;
 height: auto;
 padding-top: 20px;
}

.thumbparent:hover{
  .avt{
      color: white;
  }
  .fas{
      color: white;
  }
 
  background-color: orangered;
}

.avt:hover{
  color: white;
}
 
